@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root, [data-wds-theme=light] {
  --fandom-primary-color: #f5f3f5;
  --fandom-primary-background-color: #fff;
  --fandom-secondary-color: #fff;
  --fandom-secondary-color--hover: #e9e7e8;
  --fandom-secondary-reverse-color: #1e0c1b;
  --fandom-text-color: #1e0c1b;
  --fandom-text-color--secondary: #595358;
  --fandom-text-color--hover: #67295d;
  --fandom-text-color--secondary--hover: #242224;
  --fandom-heading-color: #520044;
  --fandom-heading-color--hover: black;
  --fandom-link-color: #9b004e;
  --fandom-link-color--hover: #6d0037;
  --fandom-accent-color: #520044;
  --fandom-accent-color--secondary: #520044;
  --fandom-accent-color--hover: #b80099;
  --fandom-border-color: #d6d0d5;
  --fandom-border-color--secondary: #d6d0d5;
  --fandom-border-color--light: #d6d0d5;
  --fandom-image-empty-state-color: #d6d0d5;
  --fandom-image-empty-state-color--secondary: #f5f3f5;
  --fandom-overlay-color: #000;
}
[data-wds-theme=dark] {
  color-scheme: dark;
  --fandom-primary-color: #1e0c1b;
  --fandom-primary-background-color: #1e0c1b;
  --fandom-secondary-color: #291927;
  --fandom-secondary-color--hover: #3e303d;
  --fandom-secondary-reverse-color: #f5f3f5;
  --fandom-text-color: #f5f3f5;
  --fandom-text-color--secondary: #d6d0d5;
  --fandom-text-color--hover: #c7bbc7;
  --fandom-text-color--secondary--hover: #a69aa4;
  --fandom-heading-color: #f9edd8;
  --fandom-heading-color--hover: #ebc480;
  --fandom-link-color: #ffc500;
  --fandom-link-color--hover: #997600;
  --fandom-accent-color: #ffc500;
  --fandom-accent-color--secondary: #fa005a;
  --fandom-accent-color--hover: #997600;
  --fandom-border-color: #595358;
  --fandom-border-color--secondary: #d6d0d5;
  --fandom-border-color--light: #595358;
  --fandom-image-empty-state-color: #520044;
  --fandom-image-empty-state-color--secondary: #520044;
  --fandom-overlay-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.wds-is-full-width {
  width: 100%;
}
.wds-button {
  padding: 7px 18px;
  min-height: 34px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  font-weight: bold;
  letter-spacing: .15px;
  transition: .3s;
  line-height: 16px;
  vertical-align: top;
}
.wds-button:disabled, .wds-button.disabled {
  opacity: .5;
  pointer-events: none;
}
.wds-button.wds-is-square {
  width: 36px;
  height: 36px;
}
[data-wds-theme=light] {
  .wds-button {
    background: #520044;
    color: #fff;
  }
  .wds-button:hover {
    background: #b80099;
  }
  .wds-button.wds-is-secondary {
    border: 1px solid #3a3a3a;
    color: #3a3a3a;
    background: none;
  }
  .wds-button.wds-is-secondary:hover {
    color: #6d6d6d;
    border-color: #6d6d6d;
  }
}
[data-wds-theme=dark] {
  .wds-button {
    background: #ffc500;
    color: #1e0c1b;
  }
  .wds-button:hover {
    background: #997600;
  }
  .wds-button.wds-is-secondary {
    border: 1px solid #e6e6e6;
    color: #e6e6e6;
    background: none;
  }
  .wds-button.wds-is-secondary:hover {
    color: #b3b3b3;
    border-color: #b3b3b3;
  }
}
