@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  font-family: "Rubik", sans-serif;
}
h1 {
  font-weight: 300;
}
h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h2 {
  border-bottom: 1px solid #00000040;
}
