$wds-button-padding: 7px 18px;
$wds-button-font-size: 12px;
$wds-button-border-radius: 3px;
$wds-button-font-weight: bold;
$wds-button-transition: .3s;
$wds-button-line-height: 16px;
$wds-button-letter-spacing: .15px;
$wds-button-disabled: .5;

.wds-button {
  padding: #{$wds-button-padding};
  font-size: #{$wds-button-font-size};
  border-radius: #{$wds-button-border-radius};
  font-weight: #{$wds-button-font-weight};
  transition: #{$wds-button-transition} background, #{$wds-button-transition} border-color;
  line-height: #{$wds-button-line-height};
  letter-spacing: #{$wds-button-letter-spacing};
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  min-height: 18px;
}
.wds-button:disabled, .wds-button.disabled {
  opacity: #{$wds-button-disabled};
  pointer-events: none;
}
.wds-button.wds-floating-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.wds-button.wds-floating-button__icon {
  font-size: 18px;
}
[data-wds-theme="light"] {
  .wds-button {
    background: #520044;
    color: white;
    border-color: #520044;
  }
  .wds-button:hover {
    background: #b80099;
    border-color: #b80099;
  }
  .wds-button:focus {
    outline: 3px solid rgba(82, 0, 68, 0.5);
  }
}
[data-wds-theme="dark"] {
  .wds-button {
    background: #ffc500;
    color: #1e0c1b;
    border-color: #ffc500;
  }
  .wds-button:hover {
    background: #997600;
    border-color: #997600;
  }
  .wds-button:focus {
    outline: 3px solid rgba(255, 197, 0, 0.5);
  }
}
