$wds-dialog-animation: move-in .4s;
$wds-dialog-border-radius: 3px;
$wds-dialog-margin: 0 auto;
$wds-dialog-min-width: 280px;
$wds-dialog-max-width: 640px;
$wds-dialog-border-radius: 3px;
$wds-dialog-background: #f4f3f4;

$wds-dialog-content-font-size: 16px; 
$wds-dialog-content-padding: 24px;

$wds-dialog-title-font-weight: bold;
$wds-dialog-title-font-size: 24px;
$wds-dialog-title-line-height: 28px;
$wds-dialog-title-padding: 24px 24px 0;

$wds-dialog-action-padding: 12px;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wds-dialog {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.wds-dialog__wrapper {
  min-width: #{$wds-dialog-min-width};
  max-width: #{$wds-dialog-max-width};
  background: #{$wds-dialog-background};
  border-radius: #{$wds-dialog-border-radius};
  animation: #{$wds-dialog-animation};
}
.wds-dialog__title {
  font-weight: #{$wds-dialog-title-font-weight};
  font-size: #{$wds-dialog-title-font-size};
  line-height: #{$wds-dialog-title-line-height};
  padding: #{$wds-dialog-title-padding};
}
.wds-dialog__title+.wds-dialog__content {
  padding-top: 12px;
}
.wds-dialog__content {
  font-size: #{$wds-dialog-content-font-size};
  padding: #{$wds-dialog-content-padding};
}
.wds-dialog__actions {
  padding: #{$wds-dialog-action-padding};
  display: flex;
  justify-content: flex-end;
  grid-column-gap: 12px;
}
.wds-dialog__actions-button {
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  padding: 7px 18px;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}
[data-wds-theme="light"] {
  .wds-dialog__wrapper {
    background: #f4f3f4;
    color: #3a3a3a;
  }
  .wds-dialog__actions {
    border-top: 1px solid #d6d0d5;
  }
  .wds-dialog__actions-button {
    color: #3a3a3a;
  }
}
[data-wds-theme="dark"] {
  .wds-dialog__wrapper {
    background: #40303d;
    color: #e6e6e6;
  }
  .wds-dialog__actions {
    border-top: 1px solid #595358;
  }
  .wds-dialog__actions-button {
    color: #e6e6e6;
  }
}
@keyframes move-in {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
}
