$wds-input-font-size: 16px;
$wds-input-padding: 0 0 2px;

.wds-input {
  padding-top: 20px;
  position: relative;
}

.wds-input__field {
  border: 0;
  border-bottom: 1px solid #d6d0d5;
  font-size: #{$wds-input-font-size};
  font-family: inherit;
  outline: none;
  padding: #{$wds-input-padding};
  line-height: 1;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border-radius: 0;
}

.wds-input__label {
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  transition: .2s ease all;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 20px;
}

.wds-input__hint {
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
}
.wds-input__field:focus ~ .wds-input__label, .wds-input__field:not(:placeholder-shown) ~ .wds-input__label {
  top: 0;
  font-size: 12px;
}
[data-wds-theme="light"] {
  .wds-input__label, .wds-input__hint {
    color: #3a3a3a80;
  }
  .wds-input__field {
    color: #3a3a3a;
  }
  .wds-input__field:focus {
    border-color: #520044;
  }
}
[data-wds-theme="dark"] {
  .wds-input__label, .wds-input__hint {
    color: #e6e6e680;
  }
  .wds-input__field {
    color: #e6e6e6;
  }
  .wds-input__field:focus {
    border-color: #ffc500;
  }
}
