$wds-tooltip-color: black;
$wds-tooltip-padding: 10px 15px;

[data-wds-tooltip-enabled="true"]:hover {
  &;before {
    content: attr("data-wds-tooltip");
    position: absolute;
    padding: #{$wds-tooltip-padding};
  }
}
