$wds-dialog-animation: move-in .4s;
$wds-dialog-border-radius: 3px;
$wds-dialog-margin: 0 auto;
$wds-dialog-min-width: 280px;
$wds-dialog-max-width: 640px;
$wds-dialog-border-radius: 3px;
$wds-dialog-background: #f4f3f4;

$wds-dialog-content-font-size: 16px; 
$wds-dialog-content-padding: 24px;

$wds-dialog-title-font-weight: bold;
$wds-dialog-title-font-size: 24px;
$wds-dialog-title-line-height: 28px;
$wds-dialog-title-padding: 24px 24px 0;

$wds-dialog-action-padding: 24px;

.wds-dialog {
  top: 0;
  left: 0;
  background: #00000040;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.wds-dialog__wrapper {
  min-width: #{$wds-dialog-min-width};
  max-width: #{$wds-dialog-max-width};
  background: #{$wds-dialog-background};
  border-radius: #{$wds-dialog-border-radius};
  animation: #{$wds-dialog-animation};
}
.wds-dialog__title {
  font-weight: #{$wds-dialog-title-font-weight};
  font-size: #{$wds-dialog-title-font-size};
  line-height: #{$wds-dialog-title-line-height};
  padding: #{$wds-dialog-title-padding};
}
.wds-dialog__content {
  font-size: #{$wds-dialog-content-font-size};
  padding: #{$wds-dialog-content-padding};
}
.wds-dialog__actions {
  padding: #{$wds-dialog-action-padding};
}
@keyframes move-in {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
}
