$wds-dropdown-content-padding: 7px 10px;

$wds-dropdown-content-item-font-size: 14px;
$wds-dropdown-content-item-line-height: 1em;

.wds-dropdown {
  position: relative;
}
.wds-dropdown__toggle {
  cursor: pointer;
  position: relative; 
}
.wds-dropdown__toggle:focus, .wds-dropdown__toggle:hover ~ .wds-dropdown__content {
  display: block; 
}
.wds-dropdown__content {
  padding: #{$wds-dropdown-content-padding};
  margin: 0;
  list-style-type: none;
  display: none;
}
.wds-dropdown__content>li {
  font-size: #{$wds-dropdown-content-item-font-size};
  line-height: #{$wds-dropdown-content-item-line-height};
  padding: 11px 0;
  font-weight: normal;
}
