$wds-input-font-size: 16px;
$wds-input-padding: 0 0 2px;

.wds-input {
  position: relative;
}

.wds-input__field {
  border: 0;
  border-bottom: 1px solid #d6d0d5;
  font-size: #{$wds-input-font-size};
  font-family: inherit;
  outline: none;
  padding: #{wds-input-padding};
  line-height: 1;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  background: none;
}

.wds-input__label {
  color: #3a3a3a80;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  transition: .2s ease all;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wds-input__field:focus + .wds-input__label {
  top: -20px;
  font-size: 12px;
}
