$wds-progress-bar-height: 1em;

$wds-progress-fill-height: 100%;

.wds-progress-bar {
  width: 100%;
  height: #{$wds-progress-bar-height};
  border-radius: 3px;
  max-width: 50em;
  overflow: hidden;
  background: #00000040;
}
.wds-progress-fill {
  height: #{$wds-progress-fill-height};
  width: 0;
}
.wds-progress-bar.indeterminate .wds-progress-fill {
  animation: indeterminate 2s linear infinite;
}
@keyframes indeterminate {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
