$wds-spinner-stroke-width: 5;

.wds-spinner {
  animation: rotate .5s linear infinite;
}
.wds-spinner__stroke {
  stroke-width: #{$wds-spinner-stroke-width};
  animation: dash 3s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
} 

@keyframes dash {
  0% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 0;
  }
}
