:root {
  --wds-fandom-color-red: #fa005a;
  --wds-fandom-color-yellow: #ffc500;
  --wds-fandom-color-purple: #520044;
  --wds-fandom-color-cream: #f9edd8;
  --wds-fandom-color-crimson: #9b004e;
  --wds-fandom-color-light-blue: #86d7dc;
  --wds-fandom-color-light-gray: #838d86;
  --wds-fandom-color-purple-black: #280033;
}
